body.a12_modal_open {
  overflow: hidden;
}

#breaking-news-alerts {
  display: none;
}

.a12_insert.button {
  font-weight: bold;
  color: #a81817;
}

.a12_modal {
  display: none;
  z-index: 1000000091;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;

  padding-top: 3em;
  font-family: "nyt-cheltenham";
  font-size: 18px;
  text-align: center;
}

.a12_modal p, .a12_modal h1, .a12_modal h3, .a12_modal h4, .a12_modal h5, .a12_modal table {
  margin-top: 2rem;
}

.a12_modal .underline {
  text-decoration: underline;
}

.a12_modal p {
  font-size: 1em;
  line-height: 1.2em;
}

.a12_modal h1 {
  font-size: 2rem;
}

.a12_modal h3 {
  font-size: 1.7rem;
}

.a12_modal h4 {
  font-size: 1.4rem;
}

.a12_modal h5 {
  font-size: 1.2rem;
}

.a12_modal .clear {
  clear: both;
}

.a12_modal button {
  padding: .5em 1em;
  font-size: 1.5em;
  background-color: #333;
  color: #fff;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
  border: 0;
  border-radius: .3em;
}

.a12_modal button:hover {
  background-color: #555;
}

.a12_modal button:focus {
  outline: 0;
  background-color: #1e1e1e;
}

.a12_modal button.secondary {
  background-color: #666;
}

.a12_modal button.secondary:hover {
  background-color: #888;
}

.a12_modal button.secondary:focus {
  background-color: #444;
}

.a12_modal button.small {
  font-size: 1em;
}

.a12_modal.a12_modal_report {
  padding-top: 0px;
  background-color: #fff;
  overflow: auto;
  height: 100%;
}

.a12_modal.a12_modal_report button.done {
  margin-bottom: 2em;
}

.a12_modal.a12_modal_report .body {
  padding: 2em 0em 1em 0em;
  margin-bottom: 2em;
  text-align: left;
  width: 70%;
  margin: 0 auto;
}

.a12_modal.a12_modal_report h1 {
  margin-top: 3rem;
}

.a12_modal.a12_modal_report .body ul {
  margin: 2em 4em;
  list-style-type:disc;
}

.a12_modal.a12_modal_report .body ul > li > em {
  color: #777;
}

.a12_modal.a12_modal_report table.metadata, .a12_modal.a12_modal_report table.psych {
  width: 60%;
  font-family: 'Helvetica Neue', sans-serif;
}

.a12_modal.a12_modal_report table.metadata {
  background-color: #ccc;
}

.a12_modal.a12_modal_report table.metadata td {
  border: 1px solid #fff;
}

.a12_modal.a12_modal_report span.redacted::before {
  display: inline-block;
  content: "REDACTED";
  font-family: "Courier New", serif;
  font-weight: bold;
  background-color: #ba0b0b;
  color: #fff;
  padding: 0em 2em;
}

.a12_modal.a12_modal_report .red {
  color: #ba0b0b;
}

.a12_modal.a12_modal_report .yellow {
  color: #FFA500;
}

.a12_modal.a12_modal_report .body .threeletteragencies, .a12_modal.a12_modal_report .body .a12-logo{
  display: block;
  margin: 0 auto 1em auto;
}
.a12_modal.a12_modal_report .body .threeletteragencies {
  width: 60%;
}

.a12_modal.a12_modal_report .body .a12-logo {
  width: 250px;
}

.a12_modal.a12_modal_report p.explanation {
  color: #555;
  font-style: italic;
}

.a12_modal.a12_modal_report .heatmap > h5 {
  font-size: .9rem;
  margin-bottom: 1rem;
}

.a12_modal.a12_modal_report .heatmap > label {
  color: #666;
  display: block;
}

.a12_modal.a12_modal_report .heatmap > canvas {
  width: 60%;
  background-color: #1e1e1e;
  margin: .5em 0em;
}

.a12_modal.a12_modal_report #keywords {
  width: 50%;
  height: 300px;
  float: left;
  cursor: default;
}

.a12_modal.a12_modal_report #keywords-desc {
  width: 30%;
  padding-top: 2em;
  font-weight: bold;
  float: right;
}

.a12_modal.a12_modal_report .keywords-images-header {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.a12_modal.a12_modal_report #keywords-images {
  font-size: 0;
}

.a12_modal.a12_modal_report #keywords-images > div {
  display: inline-block;
  overflow: hidden;
  background-color: #000;
  width: 25%;
  height: 140px;
  line-height: 140px;
  position: relative;
  text-align: center;
  cursor: default;
}

.a12_modal.a12_modal_report #keywords-images > div > img {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 140px;
  z-index: 1;
  opacity: 0.6;
  transform: scale(1.03);
}

.a12_modal.a12_modal_report #keywords-images > div:hover > img {
  opacity: .4;
  transition: opacity .4s
}

.a12_modal.a12_modal_report #keywords-images > div > span {
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  display: inline-block;
  transition: transform .3s;
}

.a12_modal.a12_modal_report #keywords-images > div:hover > span {
  transform: translate(0, -.7rem);
}

.a12_modal.a12_modal_report #keywords-images > div > small {
  position: absolute;
  z-index: 2;
  color: #fff;
  font-size: .9rem;
  display: inline-block;
  top: 10%;
  left: 33%;
  opacity: 0;
}

.a12_modal.a12_modal_report #keywords-images > div:hover > small {
  opacity: 1;
  transition: opacity .3s ease;
}
